<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-ar="Invest Group" data-en="Invest Group">Invest Group</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
    <link href="~/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="icon" type="image/png" href="~/imgs/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="80" tabindex="0">
    <nav id="navbar" class="navbar navbar-expand-xl fixed-top">
        <div class="container navbar-container">
            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                <img src="~/imgs/logo.png" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mt-5 mt-xl-0 mx-auto d-flex justify-content-center align-items-center gap-3 gap-lg-4 mb-4 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" data-ar="الرئيسية" data-en="Home" href="/#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="من نحن" data-en="About" href="/#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="المشاريع" data-en="Projects" href="/#projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="تشطيبات وديكور" data-en="Decorating & Finishing" asp-controller="Home" asp-action="Decore">Decorating & Finishing</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="اثاث منزلي" data-en="Furniture" asp-controller="Home" asp-action="Furniture">Furniture</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="الفريق" data-en="Team" href="/#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="المدونة" data-en="Blogs" href="/#blog">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link" data-ar="اتصل بنا" data-en="Contact" href="/#contact">Contact</a></li>
                </ul>
                <div class="d-flex align-items-center justify-content-center gap-3">
                    <button class="btn btn-outline-light btn-lang me-2" id="langBtn">
                        <i class="fas fa-language"></i> AR
                    </button>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="text-white pt-5 pb-4">
        <div class="container">
            <div class="row g-4 justify-content-center align-items-center">
                <div class="col-lg-4">
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a class="logo d-flex justify-content-center justify-content-lg-start align-items-center" asp-controller="Home" asp-action="Index" aria-label="BIOCG logo">
                            <img src="~/imgs/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <ul class="list-unstyled d-flex flex-wrap justify-content-center align-items-center gap-5 mt-4">
                        <li class="mb-3"><a href="/#home" aria-label="home" class="text-decoration-none" data-en="Home" data-ar="الرئيسية">Home</a></li>
                        <li class="mb-3"><a href="/#about" aria-label="about" class="text-decoration-none" data-en="About Us" data-ar="من نحن">About Us</a></li>
                        <li class="mb-3"><a href="/#projects" aria-label="projects" class="text-decoration-none" data-en="Projects" data-ar="مشروعاتنا">Projects</a></li>
                        <li class="mb-3"><a asp-controller="Home" asp-action="Decore" aria-label="decore" class="text-decoration-none" data-ar="تشطيبات وديكور" data-en="Decorating & Finishing">Decorating & Finishing</a></li>
                        <li class="mb-3"><a asp-controller="Home" asp-action="Furniture" aria-label="Furniture" class="text-decoration-none" data-ar="اثاث منزلي" data-en="Furniture">Furniture</a></li>
                        <li class="mb-3"><a class="text-decoration-none" data-ar="الفريق" data-en="Team" href="/#team">Team</a></li>
                        <li class="mb-3"><a class="text-decoration-none" data-ar="المدونة" data-en="Blogs" href="/#blog">Blogs</a></li>
                        <li class="mb-3"><a class="text-decoration-none" data-ar="اتصل بنا" data-en="Contact" href="/#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <hr class="my-4 border-light">
            <div class="text-center small text-white" data-ar="  جميع الحقوق محفوظة © 2025 Invest Group." data-en="All rights reserved © 2025 Invest Group.">
                All rights reserved © 2025 Invest Group.
            </div>
            <div class="text-center small text-white mt-4">
                <span data-ar="تم التصميم بواسطة" data-en="Designed by:">Designed by: </span> <a aria-label="gwt facebook" href="https://www.facebook.com/profile.php?id=100090592885243&mibextid=ZbWKwL" class="gwt">GMT</a>
            </div>
        </div>
    </footer>

    <a href="https://wa.me/201094920727" class="whatsapp-float" target="_blank" aria-label="Chat on WhatsApp">
        <i class="fab fa-whatsapp"></i>
    </a>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
